{
  "openapi": "3.1.0",
  "info": {
    "title": "Document API",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.pardocs.com"
    }
  ],
  "paths": {
    "/v1/documents": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DocumentFile",
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{document_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentResultResponse"
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{document_id}/split": {
      "post": {
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of document to split."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "template_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Include all template_id to split the document."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "document_type": {
                        "type": "string"
                      },
                      "pages": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{document_id}/extraction": {
      "post": {
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of document to extract."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "template_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Include all template_id to extract the document."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "document_type": {
                        "type": "string"
                      },
                      "pages": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "extracted": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentFile": {
        "title": "DocumentFile",
        "type": "object",
        "description": "The object can contain either a file or a URL pointing to the document to be analyzed. The properties are mutually exclusive, meaning you should provide either a file or a URL, but not both.",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File",
            "description": "A binary file representing the document to be analyzed. This should be provided as a file upload, for example using a multipart/form-data request. The file can be in various formats such as .pdf, .docx, .eml, etc. Example usage: -F 'files=@path/to/your-document.extension'."
          },
          "url": {
            "type": "string",
            "minLength": 1,
            "format": "uri",
            "title": "Url",
            "description": "A URI pointing to the document to be analyzed. This should be used if the document is hosted at a specific URL and can be accessed directly from the web."
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "document_id": {
            "type": "string",
            "description": ""
          },
          "document_name": {
            "type": "string",
            "description": ""
          },
          "document_created_at": {
            "type": "integer",
            "description": ""
          }
        }
      },
      "DocumentResultResponse": {
        "type": "object",
        "properties": {
          "document_id": {
            "type": "string",
            "description": ""
          },
          "document_name": {
            "type": "string",
            "description": ""
          },
          "document_created_at": {
            "type": "integer",
            "description": ""
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document_type": {
                  "type": "string"
                },
                "pages": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "extracted": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "detail"
        ],
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
